@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@sandoll/pretendard@latest/dist/web/variable/pretendardvariable.css');



@layer utilities {
    .bg-gradient {
        background-image: linear-gradient(to bottom, #FFFAEB, #FFF1F2);
    }

    .font-noto {
        font-family: 'Noto Sans KR', sans-serif;
    }

    .font-pretendard {
        font-family: 'Pretendard Variable', sans-serif;
    }


    .btn {
        @apply inline-flex items-center px-5 py-1 w-fit
        bg-[#F24171] rounded-[25px]
        text-white text-xl font-bold
        transition-colors duration-300;
    }
    .btn:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    .btn:not(:disabled):hover {
        @apply bg-[#d13461];
    }

    .card {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        shadow-lg rounded-[20px]
        h-auto min-w-[300px]
        p-6 mx-auto min-h-64
        w-full max-w-md;
    }

    .card-title-text {
        @apply text-lg font-semibold mb-4;
    }

    .base-text {
        @apply text-[#9F1139]
        text-2xl font-bold mb-5 text-center
    }
}