@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@sandoll/pretendard@latest/dist/web/variable/pretendardvariable.css');



@layer utilities {
    /*배경*/
    .bg-gradient {
        background-image: linear-gradient(to bottom, #FFFAEB, #FFF1F2);
    }
    .bg-layout {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .bg-main {
        flex: 1;
        padding: 5px;
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        @apply sm:max-w-2xl md:max-w-3xl lg:max-w-4xl
        xl:max-w-5xl sm:p-8 md:p-12;
    }

    /*헤더*/
    .header {
        @apply flex items-center justify-center md:justify-between
        px-30 sm:px-40 md:px-60 py-5;
    }
    .header-link {
        @apply flex items-center gap-2;
    }
    .header-logo {
        @apply h-12 w-auto;
    }
    .header-logo-text {
        @apply font-bold text-lg sm:text-2xl
        text-[#F44268] flex flex-col;
    }
    .header-nav-box {
        @apply flex items-center space-x-6;
    }
    .header-nav {
        @apply hidden lg:flex items-center gap-6;
    }
    .header-hamburger {
        @apply absolute right-4 md:hidden items-center;
    }
    .header-login-text {
        @apply text-gray-600 hover:text-[#1E40AF];
    }
    .header-sign-up-text {
        @apply text-[#D6336C] hover:text-[#BE185D] font-bold;
    }
    .header-guest-text {
        @apply text-[#934311] hover:text-[#166534] cursor-pointer;
    }
    .header-writing-list-text {
        @apply text-gray-800 hover:text-gray-600;
    }
    .header-logout-text {
        @apply text-[#F44268] hover:text-[#D12D5A] cursor-pointer;
    }
    .header-mobile-text {
        @apply text-lg font-medium;
    }

    /*홈페이지*/
    .card-layout {
        @apply grid grid-cols-1 sm:grid-cols-2
        grid-rows-[auto_1fr] gap-4 sm:gap-6 py-3;
    }
    .recommend-card {
        @apply sm:col-start-1 sm:row-start-1 self-start
        h-auto;
    }
    .calendar-card {
        @apply sm:col-start-2 sm:row-start-1 sm:row-span-2
        overflow-x-auto max-w-full items-center;
    }
    .data-card {
        @apply sm:col-start-1 sm:row-start-2
    }
    .data-card-plus {
        @apply relative flex items-center
        justify-center w-full;
    }

    /*회원가입*/
    .sign-card {
        @apply flex flex-col items-center gap-1;
    }
    .location-agree-label {
        @apply flex items-center gap-2 cursor-pointer;
    }
    .location-agree-label-button {
        @apply text-xs text-gray-500 underline ml-6;
    }
    .location-agree-text {
        @apply text-xs text-gray-600 mt-1 ml-6 border rounded p-2 bg-gray-50;
    }

    /*날씨 정보*/
    .weather-info-box {
        @apply col-start-1 row-start-1 flex items-center
        gap-2 bg-yellow-50/80 border border-rose-100
        rounded-[10px] px-2 py-1 shadow-sm;
    }
    .weather-icon-bg {
        @apply border border-yellow-200 bg-white rounded-full;
    }

    /*데이터*/
    .data-title {
        @apply flex-1 text-center font-semibold;
    }
    .data-plus-font {
        @apply absolute right-0 flex items-center
        gap-1 text-gray-500 text-sm hover:text-pink-500
        transition cursor-pointer;
    }
    .data-div {
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2
        gap-4 sm:gap-4 md:gap-5
        w-full max-w-4xl mx-auto mt-1;
    }
    .detail-data-card {
        @apply flex items-center justify-center
        min-h-[120px] sm:min-h-[220px]
        md:min-h-[280px] lg:min-h-[320px];
    }

    /*일기 작성 내역 페이지*/
    .writing-list-layout {
        @apply max-w-full sm:max-w-xl mx-auto p-2 sm:p-3;
    }
    .writing-list {
        @apply bg-white rounded-lg shadow p-4 sm:p-5
        cursor-pointer hover:bg-gray-50 transition;
    }
    .writing-list-date {
        @apply text-xs text-gray-400 mb-1;
    }
    .writing-list-item {
        @apply flex items-center gap-2 mb-1;
    }
    .writing-list-circle {
        @apply w-7 h-7 rounded-full flex
        items-center justify-center;
    }
    .writing-list-text {
        @apply text-sm sm:text-base text-gray-700 truncate;
    }

    /*일기 상세&수정 페이지*/
    .diary-detail-container {
        @apply max-w-full sm:max-w-xl mx-0
        px-2 sm:px-4 py-2 sm:py-3;
    }
    .diary-detail-content {
        @apply bg-[#FFF6F0] rounded-lg p-8
        text-[#934311] text-base leading-relaxed
        min-h-[200px] sm:min-h-[250px] md:min-h-[330px];
    }
    .diary-detail-title {
        @apply text-lg sm:text-2xl font-bold mb-3 sm:mb-4;
    }
    .diary-detail-date {
        @apply text-xs sm:text-sm text-gray-400 mb-1 sm:mb-2;
    }
    .diary-detail-circles {
        @apply flex items-center gap-2 sm:gap-2 md:gap-3 mb-3 sm:mb-4;
    }
    .edit-container {
        @apply w-full min-h-screen flex flex-col
        items-center px-2 py-8;
    }
    .edit-btn-container {
        @apply flex justify-center mt-2;
    }
    .edit-btn {
        @apply flex justify-center gap-10;
    }
    .custom-symptom-box {
        @apply whitespace-nowrap text-xs
        text-gray-500 bg-white px-2
        py-0.5 rounded-full border
        border-gray-200 shadow-sm;
    }

    /*폰트*/
    .font-noto {
        font-family: 'Noto Sans KR', sans-serif;
    }
    .font-pretendard {
        font-family: 'Pretendard Variable', sans-serif;
    }

    /*사이드바*/
    .side-bg {
        @apply fixed inset-y-0 right-0
        w-64 bg-white/90 backdrop-blur-sm
        shadow-2xl flex flex-col z-30;
    }
    .side-header {
        @apply p-4 flex items-center
        justify-between border-b;
    }
    .side-nav {
        @apply flex-1 p-4 overflow-y-auto;
    }
    .side-nav-menu {
        @apply block px-2 py-1
        hover:bg-gray-100 rounded;
    }
    .side-logout {
        @apply w-full text-left px-2 py-1
        text-red-500 hover:bg-gray-100 rounded cursor-pointer;
    }
    .side-nav-text {
        @apply text-base font-medium
    }

    /*버튼*/
    .btn {
        @apply inline-flex items-center justify-center w-fit
        px-4 sm:px-5 py-1 min-w-[100px] min-h-[30px]
        bg-[#F24171] rounded-[25px]
        text-white text-base sm:text-xl font-bold
        transition-colors duration-300 mx-auto mt-2;
    }
    .btn:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    .btn:not(:disabled):hover {
        @apply bg-[#d13461];
    }
    .btn-cancel {
        @apply bg-gray-500;
    }

    /*카드 컴포넌트*/
    .card {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        shadow-lg rounded-[20px]
        h-auto min-w-[220px] sm:min-w-[300px]
        p-5 sm:p-6 mx-auto w-full max-w-md
        flex flex-col;
    }
    .card-large {
        @apply max-w-2xl mx-auto m-5;
    }
    .card-backable {
        @apply relative pt-3;
    }
    .card-back-btn {
        @apply absolute left-4 top-4 text-[#F24771] hover:bg-[#FECFD4] rounded-full p-1;
    }
    .card-title-text {
        @apply text-lg font-semibold mb-4 text-center;
    }
    .base-text {
        @apply text-[#9F1139]
        text-2xl font-bold text-center;
    }

    /*캘린더 컴포넌트*/
    .day-today {
        @apply bg-[#FEF3C6];
    }
    .day-selected {
        @apply bg-[#FECFD4];
    }
    .day-record::after {
        content: "";
        @apply block w-1.5 h-1.5 bg-[#FB7084] rounded-full mx-auto mt-1;
    }
    .day-sat {
        @apply text-[#934311];
    }
    .day-sun {
        @apply text-[#D9043D];
    }
    .calendar-table {
        @apply w-full border border-gray-200 border-collapse
    }
    .calendar-weekday {
        @apply border border-gray-200 bg-[#FEF3C6] p-1 text-center h-10
    }
    .calendar-day {
        @apply border border-gray-200 p-1 text-center h-16 w-16
    }
    .calendar-icon {
        @apply fill-[#9F1139] w-6 h-6
    }

    /*추천 활동 컴포넌트*/
    .activity-recommend {
        @apply w-full rounded-[14px] py-4 px-2
        text-center font-semibold text-[#F24771] text-base
        bg-[#FFF5F6] hover:bg-[#FECFD4]/60
        transition shadow border border-[#FECFD4]
        focus:outline-none focus:ring-2 focus:ring-[#FECFD4]
    }
    .activity-detail-card {
        @apply bg-[#FFF6F0] rounded-lg p-4 mb-5 shadow;
    }
    .activity-detail-title {
        @apply text-2xl font-bold text-center
        mb-10 text-[#9F1139]
        border-b border-[#FECFD4] pb-2 mb-2;
    }
    .activity-detail-sub-title {
        @apply font-semibold text-[#9F1139] mb-1;
    }
    .activity-detail-text {
        @apply text-[#934311];
    }

    /*팝업*/
    .popup {
        @apply fixed inset-0 flex items-center justify-center z-50 bg-black/30;
    }
    .popup-content {
        @apply relative bg-white rounded-lg shadow-lg
        p-8 min-w-[220px] sm:min-w-[360px] max-w-[95vw] sm:max-w-[500px]
        min-h-[120px] sm:min-h-[200px] max-h-[70vh] sm:max-h-[600px]
        flex flex-col items-start overflow-visible space-y-4;
    }
    .popup-close-button {
        @apply absolute top-3 right-3 text-gray-400 hover:text-gray-700 cursor-pointer bg-transparent border-none;
        font-size: 1.5rem;
        line-height: 1;
    }
    .popup-sub-title {
        @apply text-base font-semibold text-gray-700;
    }
    .popup-circle {
        @apply w-8 h-8 sm:w-10 sm:h-10
        md:w-12 md:h-12 rounded-full border
        flex items-center justify-center;
    }
    .popup-emotion-text {
        @apply text-sm font-semibold;
    }
    .popup-circle-text {
        @apply mt-1 text-xs text-gray-500;
    }
    .popup-diary-content {
        @apply bg-[#FFF6F0] rounded-lg text-[#934311]
        p-3 sm:p-4 text-sm sm:text-base;
    }

    /*글쓰기 - 컬러 선택창*/
    .circle {
        @apply w-10 h-10 rounded-full border-2 border-gray-200 cursor-pointer;
    }
    .circle-layout {
        @apply flex flex-col items-center
    }
    .circle-text {
        @apply mt-1 text-sm
    }
    .color-palette {
        @apply absolute mt-16 sm:mt-20 left-1/2 z-10 flex flex-col items-center;
    }
    .picked-color {
        @apply ring-2 ring-black
    }

    /*input 컴포넌트*/
    .input {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        rounded-[10px] px-4 py-2
        text-[#9F1139] placeholder-[#FECFD4]
        w-full outline-none transition mt-5;
    }
    .input:focus {
        @apply border-[#F24771] shadow-md;
    }

    /*textarea 컴포넌트*/
    .text-area {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        rounded-[10px] px-4 py-2
        text-[#9F1139] placeholder-[#FECFD4]
        min-h-[120px] sm:min-h-[160px] md:min-h-[200px]
        w-full outline-none transition mt-5 resize-none;
    }
    .text-area:focus {
        @apply border-[#F24771] shadow-md;
    }

    /*부가 텍스트*/
    .sub-text {
        @apply text-center text-sm text-gray-500;
    }
}