@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@sandoll/pretendard@latest/dist/web/variable/pretendardvariable.css');



@layer utilities {
    /*배경*/
    .bg-gradient {
        background-image: linear-gradient(to bottom, #FFFAEB, #FFF1F2);
    }
    .bg-layout {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .bg-main {
        flex: 1;
        padding: 5px;
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
    }

    /*날씨 정보*/
    .weather-info-box {
        @apply col-start-1 row-start-1 flex items-center
        gap-2 bg-yellow-50/80 border border-rose-100
        rounded-[10px] px-2 py-1 shadow-sm
    }
    .weather-icon-bg {
        @apply border border-yellow-200 bg-white rounded-full
    }

    /*폰트*/
    .font-noto {
        font-family: 'Noto Sans KR', sans-serif;
    }
    .font-pretendard {
        font-family: 'Pretendard Variable', sans-serif;
    }

    /*버튼*/
    .btn {
        @apply inline-flex items-center px-5 py-1 w-fit
        bg-[#F24171] rounded-[25px]
        text-white text-xl font-bold
        transition-colors duration-300 mx-auto mt-2;
    }
    .btn:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    .btn:not(:disabled):hover {
        @apply bg-[#d13461];
    }
    .btn-cancel {
        @apply bg-gray-500;
    }

    /*카드 컴포넌트*/
    .card {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        shadow-lg rounded-[20px]
        h-auto min-w-[300px]
        p-5 mx-auto min-h-64
        w-full max-w-md
        flex flex-col;
    }
    .card-large {
        @apply max-w-2xl mx-auto m-5;
    }
    .card-backable {
        @apply relative pt-3;
    }
    .card-back-btn {
        @apply absolute left-4 top-4 text-[#F24771] hover:bg-[#FECFD4] rounded-full p-1;
    }
    .card-title-text {
        @apply text-lg font-semibold mb-4 text-center;
    }

    .base-text {
        @apply text-[#9F1139]
        text-2xl font-bold mb-5 text-center
    }

    /*캘린더 컴포넌트*/
    .day-today {
        @apply bg-[#FEF3C6];
    }
    .day-selected {
        @apply bg-[#FECFD4];
    }
    .day-record::after {
        content: "";
        @apply block w-1.5 h-1.5 bg-[#FB7084] rounded-full mx-auto mt-1;
    }
    .day-sat {
        @apply text-[#934311];
    }
    .day-sun {
        @apply text-[#D9043D];
    }
    .calendar-table {
        @apply w-full border border-gray-200 border-collapse
    }
    .calendar-weekday {
        @apply border border-gray-200 bg-[#FEF3C6] p-1 text-center h-10
    }
    .calendar-day {
        @apply border border-gray-200 p-1 text-center h-16 w-16
    }
    .calendar-icon {
        @apply fill-[#9F1139] w-6 h-6
    }

    /*팝업*/
    .popup {
        @apply fixed inset-0 flex items-center justify-center z-50 bg-black/30;
    }
    .popup-content {
        @apply relative bg-white rounded-lg shadow-lg p-8 min-w-[300px] min-h-[150px] flex flex-col items-start;
    }
    .popup-close-button {
        @apply absolute top-3 right-3 text-gray-400 hover:text-gray-700 cursor-pointer bg-transparent border-none;
        font-size: 1.5rem;
        line-height: 1;
    }

    /*글쓰기 - 컬러 선택창*/
    .circle {
        @apply w-10 h-10 rounded-full border-2 border-gray-200 cursor-pointer;
    }
    .circle-layout {
        @apply flex flex-col items-center
    }
    .circle-text {
        @apply mt-1 text-sm
    }
    .color-palette {
        @apply absolute mt-20 left-1/2 z-10 flex flex-col items-center;
    }
    .picked-color {
        @apply ring-2 ring-black
    }

    /*input 컴포넌트*/
    .input {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        rounded-[10px] px-4 py-2
        text-[#9F1139] placeholder-[#FECFD4]
        w-full outline-none transition mt-5;
    }
    .input:focus {
        @apply border-[#F24771] shadow-md;
    }

    /*textarea 컴포넌트*/
    .text-area {
        @apply bg-[#FFFDFC] border border-[#FECFD4]
        rounded-[10px] px-4 py-2
        text-[#9F1139] placeholder-[#FECFD4]
        min-h-[120px] sm:min-h-[160px] md:min-h-[200px]
        w-full outline-none transition mt-5 resize-none;
    }
    .text-area:focus {
        @apply border-[#F24771] shadow-md;
    }
}